{% load i18n %}
{% load static %}
<header class="topheader" id="top">
    <div class="fix-width">
        <nav class="navbar navbar-expand-md navbar-light p-l-0">
            <!-- Logo will be here -->
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'assets/images/admin-logo.png' %}" alt="admin template"/>
            </a>
            <!-- This is the navigation menu -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto stylish-nav">
                    {% if request.user.is_authenticated %}

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auth:login' %}" target="_blank">{% trans "Log In" %}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}" target="_blank">{% trans "CloudHelper Home" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" target="_blank">{% trans "Documentation" %}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>