{% load static %}
{% load i18n %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>{{ CH_TITLE }} - {% block head_title %}{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'landing/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/wizard/steps.css' %}" rel="stylesheet">
    <!-- owl slider CSS -->
    <link href="{% static 'assets/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/owl.carousel/owl.theme.default.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'landing/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block custom_head_css_js %} {% endblock %}
</head>

<body class="fix-header">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div id="main-wrapper">
    {% include 'sub/_sub_header_bar.html' %}
    <div class="page-wrapper">
        {% block page-titles %}{% endblock %}
        <div class="container-fluid">
            {% block content %}{% endblock %}

            <footer class="footer row">
                <div class="fix-width">
                    <div class="row">
                        <div class="col-lg-3">
                            <p class="m-t-10">
                                <span class="text-white">{% trans "CloudHelper" %}</span>
                                {% trans "It is a hybrid cloud, one-stop DevOps, and automated operation and maintenance for users." %}
                                {% trans "It is a completely open source cloud management platform." %}
                            </p>
                        </div>
                        <div class="col-lg-3">
                            <ul class="footer-link list-icons">
                                <li><a href=""><i class="ti-angle-right"></i> {% trans "About US" %}</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <ul class="footer-link list-icons">
                                <li><a href=""><i class="ti-angle-right"></i> {% trans "Contact US" %}</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <ul class="footer-link list-icons">
                                <li><a href=""><i class="ti-angle-right"></i> {% trans "Legal notice and privacy policy" %}</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        {% include 'sub/_footer.html' %}
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="{% static 'landing/js/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'landing/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'landing/bootstrap/js/bootstrap.min.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'landing/js/waves.js' %}"></script>
<!--stickey kit -->
<script src="{% static 'landing/js/sticky-kit.min.js' %}"></script>
<!-- jQuery for carousel -->
<script src="{% static 'assets/owl.carousel/owl.carousel.min.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'landing/js/custom.min.js' %}"></script>
<script src="{% static 'assets/plugins/wizard/jquery.steps.min.js' %}"></script>
<script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% block custom_foot_js %} {% endblock %}
</body>
</html>
