<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div style="clear: both"><br></div>
<blockquote
        style="margin-right:0;margin-top:0;margin-bottom:0;font-family:Tahoma,Arial,STHeiti,SimSun;font-size:14px;color:#000000">
    <div style="clear: both"><br></div>
    Hello {{ name }},<br>
    <br>We wanted to let you know that your L2C password was reset..<br>
    <br>If you did not perform this action, you can recover access by entering {{ email }} into the form at
    <a href="https://l2c.com/password_reset" target="_blank">https://l2c.com/password_reset</a>
    <br>
    <br>To see this and other security events for your account, visit
    <a href="https://l2c.com/settings/security" target="_blank">https://l2c.com/settings/security</a>
    <br><br>If you run into problems, please contact support by visiting
    <a href="https://l2c.com/contact" target="_blank">https://l2c.com/contact</a>
    <br><br>Please do not reply to this email with your password. We will never ask for your password, and we strongly
    discourage you from sharing it with anyone.
</blockquote>
<div style="line-height: 20px; clear: both;"><br></div>

</body>
</html>