<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div style="clear: both"><br></div>
<blockquote
        style="margin-right:0;margin-top:0;margin-bottom:0;font-family:Tahoma,Arial,STHeiti,SimSun;font-size:14px;color:#000000">
    <div style="clear: both"><br></div>
    Dear {{ name }},<br>
    <br>The system detected an error while writing to the log..<br>
    <br>After you receive this email, please be sure to check your config for errors<br>
    <br>The following information may help you troubleshoot<br>

    <p style="color:#FF0000"><b>{{ message }}</b><br/></p>
    <br>If you are unable to resolve this issue by yourself, please contact us
    <a href="http://www.light2cloud.com/about" target="_blank">http://www.light2cloud.com/about</a>
    <br><br>Please do not reply to this email. We will never ask for your password, and we strongly
    discourage you from sharing it with anyone.
</blockquote>
<div style="line-height: 20px; clear: both;"><br></div>

</body>
</html>