<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div style="clear: both"><br></div>
<blockquote style="margin-right:0;margin-top:0;margin-bottom:0;font-family:Tahoma,Arial,STHeiti,SimSun;font-size:14px;color:#000000">
    <div style="clear: both"><br></div>
    Hello {{ name }},<br>
    <br>Your account will expire in {{ date_expired }},<br>
    <br>In order not to affect your normal work, please contact the administrator for confirmation.
    <br><br>Please do not reply to this email with your password. We will never ask for your password, and we strongly
    discourage you from sharing it with anyone.
</blockquote>
<div style="line-height: 20px; clear: both;"><br></div>

</body>
</html>