<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<blockquote
        style="margin-right:0;margin-top:0;margin-bottom:0;font-family:Tahoma,Arial,STHeiti,SimSun;font-size:14px;color:#000000">
    <div style="clear: both">Hi <strong>@{{ user.name }}</strong>!<br></div>
    <p style="margin-top: 14px; margin-bottom: 14px;">
        很高兴您注册L2C账户
        (<a class="plaintext" href="{{ user.email }}" target="_blank">{{ user.username }}</a>).
        这使您可以访问L2C的所有功能
    </p>

    <div class="cta-button-wrap cta-button-wrap-centered">
        <p style="margin-top: 14px; margin-bottom: 14px;">
            如果您希望继续执行此请求，
            <a class="cta-button" href="{{ confirm_verification }}" target="_blank">单击此链接验证您的电子邮件地址</a>
        </p>

        <p class="email-text-small email-text-gray" style="margin-top: 14px; margin-bottom: 14px;">
        按钮不起作用？ 将以下链接粘贴到浏览器中:<br>
        <a href="{{ confirm_verification }}" target="_blank">{{ confirm_verification }}</a>
    </p>
        <p style="margin-top: 14px; margin-bottom: 14px;">该链接将在24小时后失效</p>
    </div>
    <hr>
    <p class="email-text-small email-text-gray" style="margin-top: 14px; margin-bottom: 14px;">
        您收到此电子邮件是因为您最近创建了一个新的L2C帐户或添加了一个新的电子邮件地址。
        如果不是您，请忽略此电子邮件。
    </p></blockquote>
<div style="line-height: 20px; clear: both;"><br></div>

</body>
</html>