{% extends 'sub/_sub_base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans 'Forgot password' %}{% endblock %}

{% block content %}
    <div class="fix-width">
        <div class="row banner-text justify-content-center">
            <div class="col-md-8 m-t-20 text-center">
                <h1>
                    <span class="text-info">{% trans 'Forgot password' %}</span>
                </h1>
                {% if errors %}
                    <p class="text-danger subtext">
                        <span class="font-medium">{{ errors }}</span>
                    </p>
                {% endif %}
                <div class="down-btn">
                    <p class="subtext m-b-10">{% trans 'Input your email, that will send a mail to your' %}</p>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="hero-banner">
                    <form class="m-t" role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>
                                <input type="email" name="email" class="form-control" placeholder="Email address"
                                       required="">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'Submit' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<div class="row">
                    <div class="col-lg-12">
                        <div class="wizard-content">
                            <div class="card-body">
                                <form action="" class="validation-wizard wizard-circle">
                                    <!-- Step 1 -->
                                    <h6>{% trans "Verify identity" %}</h6>
                                    <section>
                                        <div class="fix-width">
                                            <div class="row banner-text justify-content-center">
                                                <div class="col-md-8 m-t-20 text-center">
                                                    <h1>
                                                        为确认是你本人操作，请选择验证方式完成身份验证：
                                                    </h1>
                                                    <div class="down-btn">
                                                        <a href="" class="btn btn-info m-b-10">通过 手机验证码</a>
                                                        <a href="" class="btn btn-success m-b-10">通过 邮箱验证码</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Step 2 -->
                                    <h6>{% trans "Recover password" %}</h6>
                                    <section>
                                    </section>
                                    <!-- Step 3 -->
                                    <h6>{% trans "Finish" %}</h6>
                                    <section>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>