{% load static %}

<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
<!-- Bootstrap Core CSS -->
<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/datatables/jquery.dataTables.min.css' %}" rel="stylesheet">
<!-- chartist CSS -->
{#<link href="{% static 'assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">#}
{#<link href="{% static 'assets/plugins/chartist-js/dist/chartist-init.css' %}" rel="stylesheet">#}
{#<link href="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">#}
<!-- morris CSS -->
<link href="{% static 'assets/plugins/morrisjs/morris.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
<!-- Vector CSS -->
<link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
<!-- Custom CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="{% static 'css/colors/blue.css' %}" id="theme" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- chartist chart -->
{#<script src="../assets/plugins/chartist-js/dist/chartist.min.js"></script>#}
{#<script src="../assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>#}
{#<!--morris JavaScript -->#}
{#<script src="../assets/plugins/raphael/raphael-min.js"></script>#}
{#<script src="../assets/plugins/morrisjs/morris.min.js"></script>#}
{#<!-- Vector map JavaScript -->#}
{#<script src="../assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>#}
{#<script src="../assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>#}
{#<script src="js/dashboard2.js"></script>#}
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="{% static 'assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
