{% load i18n %}
{% load static %}

<div class="alert help-message" style="margin-left: 0; margin-right: 0; border-color: #bee5eb;">
    {% trans "Use access keys to make secure REST or HTTP Query protocol requests to CloudHelper service APIs.For your protection, you should never share your secret keys with anyone.As a best practice, we recommend frequent key rotation." %}
    <a href="" target="_blank">{% trans 'Learn more' %} </a>
</div>

<table class="table table-hover contact-list" id="access_key_list_table" style="width: 100%">
    <div class="m-t-10">
        <div class="d-flex">
            <div class="mr-auto">
                <div class="form-group">
                    <button type="button" id="create_access_keys" class="btn btn-primary btn-sm access_modal" data-toggle="button">
                        <span class="text">{% trans "Create access key" %}</span>
                        <i class="fa fa-refresh fa-spin fa-fw text-active" aria-hidden="true"></i>
                        <span class="text-active">{% trans "Create access key" %}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</table>
{% include 'authentication/_access_key_modal.html' %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.js"></script>
<script>
    let dataSet = [];
    let ak_table = null;
    let uid = '{{ user_object.pk }}';

    function initAccessKeyTable() {
        let options = {
            ele: $('#access_key_list_table'),
            columnDefs: [
                {
                    targets: 2, createdCell: function (td, cellData) {
                        let btn = '<span class="ng-binding ng-scope">N/A</span>';
                        btn = btn.replace("SECRET", cellData);
                        $(td).html(btn)
                    }
                },
                {
                    targets: 3, createdCell: function (td, cellData, rowData) {
                        let is_active = rowData.is_active
                        if (is_active) {
                            let btn = '<button type="button" class="btn btn-link" style="color: #66CD00; text-decoration:none;">{% trans "Active" %}</button>'
                                + '<span class="pipe ng-scope"> | </span>'
                                + '<button type="button" class="btn btn-link btn-inactive" data-id="ID">{% trans "Make inactive" %}</button>'
                            btn = btn.replaceAll("ID", cellData);
                            $(td).html(btn)
                        } else {
                            let btn = '<button type="button" class="btn btn-link text-danger" style="text-decoration:none;">{% trans "Inactive" %}</button>'
                                + '<span class="pipe ng-scope"> | </span>'
                                + '<button type="button" class="btn btn-link btn-active" data-id="ID">{% trans "Make active" %}</button>'
                            btn = btn.replaceAll("ID", cellData);
                            $(td).html(btn)
                        }
                    }
                },
                {
                    targets: 4, createdCell: function (td, cellData, rowData) {
                        let name = rowData.access_key_id
                        let btn = '';
                        let btn_del = '<a class="btn-del" data-uid="{{ DEFAULT_PK }}" data-name="99991938"><i class="fa fa-close text-danger"></i></a>'.replace('99991938', name);
                        btn += btn_del;
                        btn = btn.replaceAll("{{ DEFAULT_PK }}", cellData);
                        $(td).html(btn);
                    }
                }
            ],
            ajax_url: '{% url "api-auth:access-key-list" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", uid),
            columns: [
                {title: '{% trans "Access key ID" %}', data: "access_key_id"},
                {title: '{% trans "Created" %}', data: "date_created"},
                {title: '{% trans "Last used" %}', data: "is_active"},
                {title: '{% trans "Status" %}', data: "id"},
                {data: "id"}
            ],
        };
        ak_table = cloudhelper.initAccessKeyDataTable(options);
    }

    $(document).ready(function () {
        initAccessKeyTable()
    }).on("click", ".btn-secret", function () {
        let $this = $(this);
        $this.parent().html($this.data("secret"))
    }).on("click", ".btn-del", function () {
        let name = $(this).data('name');
        let url = "{% url "api-auth:access-keys-detail" pk=DEFAULT_PK %}";
        url = url.replace("{{ DEFAULT_PK }}", $(this).data("uid"));
        objectDelete($(this), name, url);
    }).on("click", ".btn-active", function () {
        let url = "{% url "api-auth:access-keys-detail" pk=DEFAULT_PK %}";
        url = url.replace("{{ DEFAULT_PK }}", $(this).data("id"));
        let data = {
            url: url,
            body: JSON.stringify({"is_active": true}),
            method: "PATCH",
            success: function () {
                ak_table.ajax.reload();
            }
        };
        requestApi(data)
    }).on("click", ".btn-inactive", function () {
        let url = "{% url "api-auth:access-keys-detail" pk=DEFAULT_PK %}";
        url = url.replace("{{ DEFAULT_PK }}", $(this).data("id"));
        let data = {
            url: url,
            body: JSON.stringify({"is_active": false}),
            method: "PATCH",
            success: function () {
                ak_table.ajax.reload();
            }
        };
        requestApi(data)
    }).on('click', '.activated', function () {
        let msg = '{% trans "User is active" %}'
        toastr.success(msg)
    }).on('click', '.access_modal', function () {
        let url = "{% url "api-auth:access-key-create" pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", uid);
        requestApi({
            url: url,
            method: 'POST',
            flash_message: false,
            success: success,
            error: fail
        })

        function fail(data) {
            toastr.error(JSON.parse(data)['error_code'])
            toastr.error(JSON.parse(data)['msg'])
        }

        function success(data) {
            dataSet.length = 0;
            dataSet.push([data.data['access_key_id'], data.data['secret_access_key']])
            let tables = $('#access_key').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                data: dataSet,
                columns: [
                    {title: '{% trans "Access key ID" %}'},
                    {title: '{% trans "Secret access key" %}'}
                ],
            });
            tables.destroy();
            $("#access_key_modal").modal();
            $('#create_access_keys').removeClass('active');
        }
    }).on("hide.bs.modal", "#access_key_modal", function () {
        ak_table.ajax.reload();
    })
    $("#access_key_modal").on("hidden.bs.modal", function () {
        $(this).removeData("bs.modal");
    });
</script>
