{% extends 'sub/_sub_base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans 'Authenticate' %}{% endblock %}

{% block content %}
    <div class="fix-width">
        <div class="row banner-text justify-content-center">
            <div class="col-md-4 m-t-20 text-center">
                <h1>{% trans 'Authenticate' %}</h1>
                <p class="subtext">
                    {% trans 'Security token validation' %}
                    <span class="font-medium">{% trans 'Account' %} </span>{{ user.username }}
                    <span class="font-medium">{% trans 'Follow these steps to complete the binding operation' %}</span>
                </p>
                <hr style="width: 500px; margin: auto; margin-top: 10px;">

                <form class="form-material m-t-40" role="form" method="post" action="">
                    {% csrf_token %}
                    <div class="form-input">
                        <label></label>
                            <input type="text" class="form-control form-control-line" name="{{ form.username.html_name }}" value="{{ form.username.value }}" readonly="readonly" required="">
                    </div>
                    <div class="form-input">
                        <label></label>
                            <input type="password" class="form-control form-control-line" name="{{ form.password.html_name }}" placeholder="{% trans 'Password' %}" required="">
                    </div>

                    {% if 'password' in form.errors %}
                        <p class="text-danger">{{ form.password.errors.as_text }}</p>
                    {% endif %}

                    <div class="down-btn m-t-20">
                        <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">{% trans 'Next' %}</button>
                    </div>
                </form>
            </div>
        </div><div class="m-t-40"></div>
    </div>
{% endblock %}
