{% extends '_base_list.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans action %}{% endblock %}

{% block bread_crumbs %}
    <li class="breadcrumb-item active">{% trans "User" %}</li>
{% endblock %}

{% block table_container %}
    <div class="pull-left m-r-5">
        <a href="{% url "account:user-create" %}" class="btn btn-sm btn-outline-primary">
            <i class="icon wb-plus" aria-hidden="true"></i>{% trans "Create user" %}
        </a>
    </div>

    <table class="table m-t-30 table-hover contact-list" id="user_list_table">
        <thead>
        <tr>
            {% block table_head %}
                <th class="text-center">
                    <input id="ipt_checks" type="checkbox" class="ipt_check_all chk-col-light-blue">
                <label for="ipt_checks"></label>
                </th>
                <th class="text-center">{% trans 'Name' %}</th>
                <th class="text-center">{% trans 'Username' %}</th>
                <th class="text-center">{% trans 'Role' %}</th>
                <th class="text-center">{% trans 'User group' %}</th>
                <th class="text-center">{% trans 'Source' %}</th>
                <th class="text-center">{% trans 'Validity' %}</th>
                <th class="text-center">{% trans 'Action' %}</th>
            {% endblock %}
        </tr>
        </thead>
        <div class="m-t-40">
            <div class="d-flex">
                {% block button %}

                {% endblock %}
                {% block table_search %}

                {% endblock %}
            </div>
        </div>
        <tbody>
        </tbody>
    </table>
    <div id="actions" class="hide">
        <div class="input-group">
            <select class="form-control m-b" id="slct_bulk_update">
                <option value="delete">{% trans 'Delete selected' %}</option>
                <option value="update">{% trans 'Update selected' %}</option>
                <option value="deactive">{% trans 'Deactive selected' %}</option>
                <option value="active">{% trans 'Active selected' %}</option>
            </select>
            <div class="input-group-btn pull-left" style="padding-left: 5px;">
                <button id='btn_bulk_update' style="height: 32px;" class="btn btn-sm btn-primary">
                    {% trans 'Submit' %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script>
        let users_table = 0;
        function initTable() {
            let options = {
                ele: $('#user_list_table'),
                columnDefs: [
                    {
                        targets: 1, createdCell: function (td, cellData, rowData) {
                            cellData = htmlEscape(cellData);
                            let detail_btn = '<a href="{% url "account:user-detail" pk=DEFAULT_PK %}">' + cellData + '</a>';
                            $(td).html(detail_btn.replace("{{ DEFAULT_PK }}", rowData.id));
                        }
                    },
                    {
                        targets: 3, createdCell: function (td, cellData, rowData) {
                            $(td).html(rowData.role_display);
                        }
                    },
                    {
                        targets: 4, createdCell: function (td, cellData) {
                            let innerHtml = cellData.length > 20 ? cellData.substring(0, 20) + '...' : cellData;
                            $(td).html('<span href="javascript:void(0);" data-toggle="tooltip" title="' + cellData + '">' + innerHtml + '</span>');
                        }
                    },
                    {
                        targets: 5, createdCell: function (td, cellData, rowData) {
                            $(td).html(rowData.source_display);
                        }
                    },
                    {
                        targets: 6, createdCell: function (td, cellData, rowData) {
                            if (cellData) {
                                $(td).html('<i class="fa fa-check text-success"></i>')
                            } else if (!rowData.is_active) {

                                $(td).html('<i class="fa fa-times text-danger inactive"></i>')
                            } else if (rowData.is_expired) {
                                $(td).html('<i class="fa fa-times text-danger expired"></i>')
                            }
                        }
                    },
                    {
                        targets: 7, createdCell: function (td, cellData, rowData) {
                            let name = htmlEscape(rowData.name);
                            let update_btn = "";
                            if (rowData.can_update === false) {
                                update_btn = '<a class="btn btn-xs disabled btn-info">{% trans "Update" %}</a>';
                            } else {
                                update_btn = '<a href="{% url "account:user-update" pk=DEFAULT_PK %}" data-toggle="tooltip" data-original-title="{% trans "Edit" %}"><i class="fa fa-pencil text-inverse m-r-10"></i></a>'.replace('00000000-0000-0000-0000-000000000000', cellData);
                            }

                            let del_btn = "";
                            if (rowData.can_delete === false) {
                                del_btn = '<a data-toggle="tooltip" data-original-title="{% trans "Delete" %}" disabled> <i class="fa fa-close text-danger"></i></a>'
                                    .replace('{{ DEFAULT_PK }}', cellData)
                                    .replace('99991938', name);
                            } else {
                                del_btn = '<a class="btn_user_delete" data-uid="{{ DEFAULT_PK }}" data-name="99991938" data-toggle="tooltip" data-original-title="{% trans "Delete" %}"><i class="fa fa-close text-danger"></i></a>'
                                    .replace('{{ DEFAULT_PK }}', cellData)
                                    .replace('99991938', name);
                            }
                            $(td).html(update_btn + del_btn)
                        }
                    }],
                ajax_url: '{% url "api-account:user-list" %}',
                columns: [
                    {data: "id"}, {data: "name"}, {data: "username"},
                    {data: "role"},
                    {data: "groups_display", orderable: false},
                    {data: "source"},
                    {data: "is_valid", orderable: false, width: "50px"},
                    {data: "id", orderable: false, width: "100px"}
                ],
                op_html: $('#actions').html()
            };
            users_table = jumpserver.initServerSideDataTable(options);
            return users_table
        }

        $(document).ready(function () {
            initTable();
            let fields = $('#fm_user_bulk_update .form-group');
            $.each(fields, function (index, value) {
                console.log(value)
            });
            $('.btn_export').click(function () {
                let users = users_table.selected;
                let data = {
                    'resources': users
                };
                let search = $("input[type='search']").val();
                let props = {
                    method: "POST",
                    body: JSON.stringify(data),
                    success_url: "{% url 'api-account:user-list' %}",
                    format: 'csv',
                    params: {
                        search: search
                    }
                };
                APIExportData(props);
            });
            $('#btn_import_confirm').click(function () {
                let url = "{% url 'api-account:user-list' %}";
                let file = document.getElementById('id_file').files[0];
                if (!file) {
                    toastr.error("{% trans "Please select file" %}");
                    return
                }
                let data_table = $('#user_list_table').DataTable();
                APIImportData({
                    url: url,
                    method: "POST",
                    body: file,
                    data_table: data_table
                });
            });
            $('#download_update_template').click(function () {
                let users = users_table.selected;
                let data = {
                    'resources': users
                };
                let search = $("input[type='search']").val();
                let props = {
                    method: "POST",
                    body: JSON.stringify(data),
                    success_url: "{% url 'api-account:user-list' %}?format=csv&template=update",
                    format: 'csv',
                    params: {
                        search: search
                    }
                };
                APIExportData(props);
            });
            $('#btn_update_confirm').click(function () {
                let url = "{% url 'api-account:user-list' %}";
                let file = document.getElementById('update_file').files[0];
                if (!file) {
                    toastr.error("{% trans "Please select file" %}");
                    return
                }
                let data_table = $('#user_list_table').DataTable();
                APIImportData({
                    url: url,
                    method: "PUT",
                    body: file,
                    data_table: data_table
                });
            });
        }).on('click', '#btn_bulk_update', function () {
            let action = $('#slct_bulk_update').val();
            let id_list = users_table.selected;
            //console.log(id_list)
            //console.log(users_table)
            if (id_list.length === 0) {
                return false;
            }
            let the_url = "{% url 'api-account:user-list' %}";
            let data = {
                'resources': id_list
            };

            function reloadPage() {
                setTimeout(function () {
                    window.location.reload();
                }, 300);
            }

            function doDeactive() {
                let data = [];
                $.each(id_list, function (index, object_id) {
                    let obj = {"pk": object_id, "is_active": false};
                    data.push(obj);
                });
                requestApi({
                    url: the_url,
                    method: 'PATCH',
                    body: JSON.stringify(data),
                    success: reloadPage
                });
            }

            function doActive() {
                let data = [];
                $.each(id_list, function (index, object_id) {
                    let obj = {"pk": object_id, "is_active": true};
                    data.push(obj);
                });
                requestApi({
                    url: the_url,
                    method: 'PATCH',
                    body: JSON.stringify(data),
                    success: reloadPage
                });
            }

            function doDelete() {
                swal({
                    title: "{% trans 'Are you sure?' %}",
                    text: "{% trans 'This will delete the selected users !!!' %}",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "{% trans 'Cancel' %}",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans 'Confirm' %}",
                    closeOnConfirm: false
                }, function () {
                    function success(data) {
                        url = setUrlParam(the_url, 'spm', data.spm);

                        function success() {
                            let msg = "{% trans 'User Deleted.' %}";
                            swal("{% trans 'User Delete' %}", msg, "success");
                        }

                        function fail() {
                            let msg = "{% trans 'User Deleting failed.' %}";
                            swal("{% trans 'User Delete' %}", msg, "error");
                        }

                        requestApi({
                            url: url,
                            method: 'DELETE',
                            flash_message: true,
                            success: reloadPage,
                            error: fail
                        });
                    }

                    requestApi({
                        url: "{% url 'api-common:resources-cache' %}",
                        method: 'POST',
                        body: JSON.stringify(data),
                        flash_message: false,
                        success: success,
                    })
                })
            }

            function doUpdate() {
                function fail(data) {
                    toastr.error(JSON.parse(data))
                }

                function success(data) {
                    let url = "{% url 'account:user-bulk-update' %}";
                    location.href = setUrlParam(url, 'spm', data.spm);
                }

                requestApi({
                    url: "{% url 'api-common:resources-cache' %}",
                    method: 'POST',
                    body: JSON.stringify(data),
                    flash_message: false,
                    success: success,
                    error: fail
                })
            }

            switch (action) {
                case 'deactive':
                    doDeactive();
                    break;
                case 'delete':
                    doDelete();
                    break;
                case 'update':
                    doUpdate();
                    break;
                case 'active':
                    doActive();
                    break;
                default:
                    break;
            }
        }).on('click', '.btn_user_delete', function () {
            let $this = $(this);
            let name = $this.data('name');
            let uid = $this.data('uid');
            let the_url = '{% url "api-account:user-detail" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", uid);
            objectDelete($this, name, the_url);
        }).on('click', '.expired', function () {
            let msg = '{% trans "User is expired" %}';
            toastr.error(msg)
        }).on('click', '.inactive', function () {
            let msg = '{% trans 'User is inactive' %}';
            toastr.error(msg)
        })
    </script>
{% endblock %}
