{% extends '_base_create_update.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block bread_crumbs %}
    <li class="breadcrumb-item"><a href="{% url 'credentials:credentials-list' %}">{% trans app %}</a></li>
    <li class="breadcrumb-item active">{% trans action %}</li>
{% endblock %}

{% block form %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <form method="post" class="form-horizontal" action="" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-body">
            {% bootstrap_field form.external_id layout="horizontal" %}
            {% bootstrap_field form.require_mfa layout="horizontal" %}
            <h3 class="box-title">{% trans 'General' %}</h3>
            <hr class="m-t-0 m-b-40">
            {% bootstrap_field form.credentials_name layout="horizontal" %}

            <h3 class="box-title">{% trans 'IAM Role Information' %}</h3>
            <hr class="m-t-0 m-b-40">
            {% bootstrap_field form.is_local_role layout="horizontal" %}
            <div id="is_local_role">
                {% bootstrap_field form.role_arn layout="horizontal" %}
                {% bootstrap_field form.account_type layout="horizontal" %}
            </div>

            <h3 class="box-title">{% trans 'Other' %}</h3>
            <hr class="m-t-0 m-b-40">
            {% bootstrap_field form.comment layout="horizontal" %}

        </div>
        <hr>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-outline-success">{% trans 'Submit' %}</button>
                            <button type="reset" class="btn btn-outline-warning">{% trans 'Reset' %}</button>
                            <a href="{% url 'credentials:credentials-create' %}" class="btn btn-outline-info">{% trans 'Cancel' %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <div class="col-lg-4">
        <div class="card card-outline-inverse">
            <div class="card-header">
                <h4 class="m-b-0 text-white">{% trans "Help" %}</h4>
            </div>
            <div class="card-body">
                <a href="" target="_blank">{% trans "Help Registering IAM Access Keys With CloudHelper" %}
                    <i class="fa fa-external-link"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script src="{% static 'assets/plugins/clipboard/clipboard.js' %}"></script>
    <script>
        let cross = '{{ CROSS_ACCOUNTS }}'
        let is_local_role = '#' + '{{ form.is_local_role.id_for_label }}';
        let account_type = '#' + '{{ form.account_type.id_for_label }}';
        let btns = document.querySelectorAll('button');
        let clipboard = new ClipboardJS(btns);

        clipboard.on('success', function () {
            toastr.success('{% trans "Copy successful" %}');
        });
        clipboard.on('error', function () {
            toastr.warning('{% trans "Copy failed, please copy manually" %}');
        });

        function CrossAccounts() {
            let list = {};
            let account_type_value = $(account_type + " option:selected").val();

            $.ajax({
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                url: "{% url 'api-access:amazon-cross-accounts' %}",
                data: JSON.stringify(list),
                success: function (result) {
                    let china = result.data[0];
                    let standard = result.data[1];
                    let external_id="ExternalID";
                    let require_mfa="RequireMFA";
                    if (account_type_value === 'amazon-china') {
                        $("#{{ form.external_id.id_for_label }}").attr("value", china[external_id]);
                        $("#{{ form.require_mfa.id_for_label }}").attr("value", china[require_mfa]);
                    } else if (account_type_value === 'amazon-standard') {
                        $("#{{ form.external_id.id_for_label }}").attr("value", standard[external_id]);
                        $("#{{ form.require_mfa.id_for_label }}").attr("value", standard[require_mfa]);
                    }
                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        }
        function LocalRole() {
            // $('input:checkbox').attr("checked", true);
            let local_role = $(is_local_role).prop('checked');
            if (local_role) {
                $('#is_local_role').addClass('d-none');
            } else {
                $('#is_local_role').removeClass('d-none');
            }
        }

        $(document).ready(function () {
            CrossAccounts()
            LocalRole()
        }).on('change', CrossAccounts, function () {
                CrossAccounts()
            }).on('change', is_local_role, function () {
                LocalRole()
            })
    </script>
{% endblock %}
