{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans action %}{% endblock %}

{% block bread_crumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'credentials:credentials-list' %}">{% trans "Credentials list" %}</a>
    </li>
    <li class="breadcrumb-item active">{% trans action %}</li>
{% endblock %}

{% block custom_head_css_js %}
    <link href="{% static 'assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-xlg-9">
                <div class="card card-outline-info">
                    <div class="card-body">
                        <div class="d-flex flex-wrap">
                            <div class="ml-auto align-self-center">
                                <ul class="list-inline m-b-0">
                                    {% if cred_object.credential_type == 'amazon-access-key' %}
                                        <li>
                                            <a href="{% url 'credentials:amazon-access-update' cred_object.credential %}" class="btn btn-outline-success"> {% trans "Update" %}</a>
                                        </li>
                                    {% elif cred_object.credential_type == 'amazon-iam-role' %}
                                        <li>
                                            <a href="{% url 'credentials:amazon-role-update' cred_object.credential %}" class="btn btn-outline-success"> {% trans "Update" %}</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="javascript:void(0)" class="btn btn-outline-danger btn-delete-credentials"> {% trans "Delete" %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-body">
                            <h3 class="box-title">{% trans "General" %}</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{% trans "Credentials Name" %}:</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static"> {{ cred_object.credentials_name }} </p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{% trans "Account Type" %}:</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static">
                                                {% if cred_object.account_type == 'amazon-china' %}
                                                    {% trans "Amazon China (Beijing, Ningxia)" %}
                                                {% elif cred_object.account_type == 'amazon-standard' %}
                                                    {% trans "Amazon Standard" %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{% trans "Credentials Type" %}:</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static">
                                                {% if cred_object.credential_type == 'amazon-access-key' %}
                                                    {% trans "Amazon Access Key" %}
                                                {% elif cred_object.credential_type == 'amazon-iam-role' %}
                                                    {% trans "Amazon IAM Role" %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{% trans "Status" %}:</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static">
                                                <span class="badge badge-pill badge-success">{% trans "active" %}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            {% if cred_object.credential_type == 'amazon-access-key' %}
                                <h3 class="box-title">{% trans "Access Key Information" %}</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">{% trans "Access Key ID" %}:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    {{ credentials.access_key_id }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">{% trans "Secret Access Key" %}:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static">
                                                    {{ secret_access_key }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif cred_object.credential_type == 'amazon-iam-role' %}
                                <h3 class="box-title">{% trans "IAM Role Information" %}</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">{% trans "IAM Role ARN" %}:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ credentials.role_arn }} </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">{% trans "External ID" %}:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{ credentials.external_id }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{% trans "Actions Using These Credentials" %}</h4>
                        <h6 class="card-subtitle"> <code></code> </h6>
                        <table class="table datatable_simple dataTable no-footer" id="DataTables_Table_0" role="grid">
                            <thead>
                            <tr role="row">
                                <th class="" style="width: 68px;">{% trans "Name" %}</th>
                                <th class="" style="width: 297px;">{% trans "Type" %}</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr role="row" class="odd">
                                <td><a href="">名称</a></td>
                                <td>类型</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-xlg-9 col-md-7">
                <div class="card card-outline-info">
                    <!-- Nav tabs -->
                    <div class="card-header">
                        <h5 class="m-b-0 text-white">{% trans "Actions" %}</h5>
                    </div>
                    <div class="card-body">
                        <a href="" class="font-weight-light small" target="_blank">
                            {% trans "Help Registering IAM Access Keys With CloudHerlper" %} <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script>
        $(document).ready(function () {
        }).on('click', '.btn-delete-credentials', function () {
            let $this = $(this);
            let name = "{{ cred_object.credentials_name }}";
            let uid = "{{ cred_object.id }}";
            let the_url = '{% url "api-access:credentials-detail" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', uid);
            let redirect_url = "{% url 'credentials:credentials-list' %}";
            objectDelete($this, name, the_url, redirect_url);
        })
    </script>
{% endblock %}
