{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans action %}{% endblock %}

{% block bread_crumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'credentials:credentials-list' %}">{% trans "Credentials list" %}</a>
    </li>
    <li class="breadcrumb-item active">{% trans action %}</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-9 col-xlg-9 col-md-7">
                <div class="card">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#aws" role="tab">{% trans "Amazon Web Services" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#aliyun" role="tab">{% trans "Aliyun" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#azure" role="tab">{% trans "Azure" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#google" role="tab">{% trans "Google Cloud" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tencent" role="tab">{% trans "Tencent Cloud" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#huawei" role="tab">{% trans "HuaWei Cloud" %}</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="aws" role="tabpanel">
                            <div class="card-body">
                                <P class="font-weight-light small">{% trans "CloudHerlper requires access to your Amazon Web Services account in order to run actions. You can choose to register an IAM Role or an Access Key. IAM Roles are more secure but are a little more work to setup. Access Keys are easier to setup, but are less secure." %}</P>
                                <div class="row">
                                    <div class="col-lg-6 col-xlg-9 col-md-7">
                                        <h5>{% trans "Register an IAM Role" %}</h5>
                                        <p class="font-weight-light small">
                                            {% trans "Registering an IAM cross-account access role is the most secure way to allow CloudHerlper to schedule your AWS resources." %}
                                        </p>
                                        <hr>
                                        <p class="font-weight-light small">
                                            {% trans "Once a trusted relationship is established, only CloudHerlper can access your resources. There are no access keys that could fall into the wrong hands. In addition, AWS ensures that IAM roles can only be accessed by the trusted AWS account." %}
                                        </p>
                                        <a class="btn btn-sm btn-outline-primary" href="{% url 'access:amazon-iam-role-create' %}">{% trans "Register an IAM Role" %}</a>
                                        <p class="m-t-10 font-weight-light small">
                                            {% trans "Note: IAM roles are not available in the Amazon GovCloud (US)." %}
                                        </p>
                                    </div>

                                    <div class="col-lg-6 col-xlg-9 col-md-7">
                                        <h5>{% trans "Register an Access Key" %}</h5>
                                        <p class="font-weight-light small">
                                            {% trans "Access keys can be used to allow CloudHerlper to interact with your AWS resources. While not as secure as IAM roles, access keys can still be invalidated at any time to prevent possible abuse." %}
                                        </p>
                                        <hr>
                                        <p class="font-weight-light small">
                                            {% trans "We highly recommend against using access keys from your Amazon Web Services master user. Please use access keys from an IAM user." %}
                                        </p>

                                        <a class="btn btn-sm btn-outline-primary" href="{% url 'access:amazon-access-key-create' %}">{% trans "Register an Access Key" %}</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--aliyun tab-->
                        <div class="tab-pane" id="aliyun" role="tabpanel">
                            <div class="card-body">
                                <P class="font-weight-light small">{% trans "CloudHerlper requires access to your Azure account in order to run actions." %}</P>
                                <div class="row">
                                    <div class="col-lg-6 col-xlg-9 col-md-7">
                                        <h5>{% trans "Register an Aliyun Credential" %}</h5>
                                        <hr>
                                        <button type="button" class="btn btn-sm btn-outline-primary" disabled>{% trans "Register an Aliyun Credential" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--azure tab-->
                        <div class="tab-pane" id="azure" role="tabpanel">
                            <div class="card-body">
                                <P class="font-weight-light small">{% trans "CloudHerlper requires access to your Azure account in order to run actions." %}</P>
                                <div class="row">
                                    <div class="col-lg-6 col-xlg-9 col-md-7">
                                        <h5>{% trans "Register an Azure Credential" %}</h5>
                                        <hr>
                                        <button type="button" class="btn btn-sm btn-outline-primary" disabled>{% trans "Register an Azure Credential" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--google tab-->
                        <div class="tab-pane" id="google" role="tabpanel">
                            <div class="card-body">
                                <P class="font-weight-light small">{% trans "CloudHerlper requires access to your Google Cloud Platform account in order to run actions." %}</P>
                                <div class="row">
                                    <div class="col-lg-6 col-xlg-9 col-md-7">
                                        <h5>{% trans "Register a Google Service Account Key" %}</h5>
                                        <hr>
                                        <button type="button" class="btn btn-sm btn-outline-primary" disabled>{% trans "Register a Google Service Account Key" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--TenCent Tab-->
                        <div class="tab-pane" id="tencent" role="tabpanel">
                            <div class="card-body">
                                <P class="font-weight-light small">{% trans "CloudHerlper requires access to your Google Cloud Platform account in order to run actions." %}</P>
                                <div class="row">
                                    <div class="col-lg-6 col-xlg-9 col-md-7">
                                        <h5>{% trans "Register a Google Service Account Key" %}</h5>
                                        <hr>
                                        <button type="button" class="btn btn-sm btn-outline-primary" disabled>{% trans "Register a Google Service Account Key" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End TenCent Tab-->
                        <!--HuaWei Rab-->
                        <div class="tab-pane" id="huawei" role="tabpanel">
                            <div class="card-body">
                                <P class="font-weight-light small">{% trans "CloudHerlper requires access to your Google Cloud Platform account in order to run actions." %}</P>
                                <div class="row">
                                    <div class="col-lg-6 col-xlg-9 col-md-7">
                                        <h5>{% trans "Register a Google Service Account Key" %}</h5>
                                        <hr>
                                        <button type="button" class="btn btn-sm btn-outline-primary" disabled>{% trans "Register a Google Service Account Key" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End HuaWei Rab-->
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-3 col-xlg-9 col-md-7">
                <div class="card card-outline-info">
                    <!-- Nav tabs -->
                    <div class="card-header">
                        <h5 class="m-b-0 text-white">{% trans "Actions" %}</h5>
                    </div>
                    <div class="card-body">
                        <a href="" class="font-weight-light small" target="_blank">
                            {% trans "Help Registering IAM Access Keys With CloudHelper" %} <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
{% endblock %}
