{% extends '_base_list.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans action %}{% endblock %}

{% block bread_crumbs %}
    <li class="breadcrumb-item active">{% trans action %}</li>
{% endblock %}

{% block col %}9{% endblock %}

{% block title_head %}
    {% include 'access/_statistics.html' %}
{% endblock %}

{% block table_container %}
    <div class="pull-left m-r-5">
        <a href="{% url "credentials:credentials-create" %}" class="btn btn-sm btn-outline-primary">
            <i class="icon wb-plus" aria-hidden="true"></i>{% trans "Register Credentials" %}
        </a>
    </div>

    <table class="table m-t-30 table-hover contact-list small" id="credentials_list_table">
        <thead>
        <tr>
            {% block table_head %}
                <th class="text-center">
                    <input id="ipt_checks" type="checkbox" class="ipt_check_all chk-col-light-blue">
                <label for="ipt_checks"></label>
                </th>
                <th class="text-center">{% trans 'Name' %}</th>
                <th class="text-center">{% trans 'Account Type' %}</th>
                <th class="text-center">{% trans 'Credential Type' %}</th>
                <th class="text-center">{% trans 'Date Created' %}</th>
            {% endblock %}
        </tr>
        </thead>
        <div class="m-t-40">
            <div class="d-flex">
                {% block button %}{% endblock %}
                {% block table_search %}{% endblock %}
            </div>
        </div>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block right %}
    <div class="col-lg-3 col-xlg-9 col-md-7">
    <div class="card card-outline-inverse">
        <!-- Nav tabs -->
        <div class="card-header">
            <h5 class="m-b-0 text-white">{% trans "Actions" %}</h5>
        </div>
        <div class="card-body">
            <a href="" class="font-weight-light small" target="_blank">
                {% trans "Help Registering IAM Access Keys With CloudHelper" %} <i class="fa fa-external-link"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script>
        let credentials_table = 0;

        function initTable() {
            let options = {
                ele: $('#credentials_list_table'),
                columnDefs: [
                    {
                        targets: 1, createdCell: function (td, cellData, rowData) {
                            console.log(rowData)
                            cellData = htmlEscape(cellData);
                            let detail_btn = '<a href="{% url "credentials:credentials-detail" pk=DEFAULT_PK %}">' + cellData + '</a>';
                            $(td).html(detail_btn.replace("{{ DEFAULT_PK }}", rowData.id));
                        }
                    },
                    {
                        targets: 2, createdCell: function (td, cellData, rowData) {
                            if (rowData.account_type === 'amazon-china') {
                                $(td).html('{% trans "Amazon China (Beijing, Ningxia)" %}');
                            } else if (rowData.account_type === 'amazon-standard') {
                                $(td).html('{% trans "Amazon Standard" %}');
                            }
                        }
                    },
                    {
                        targets: 3, createdCell: function (td, cellData, rowData) {
                            if (rowData.credential_type === 'amazon-access-key') {
                                $(td).html('{% trans "Amazon Access Key" %}');
                            } else if (rowData.credential_type === 'amazon-iam-role') {
                                $(td).html('{% trans "Amazon IAM Role" %}');
                            }
                        }
                    },
                    {
                        targets: 4, createdCell: function (td, cellData, rowData) {
                            $(td).html(rowData.date_created);
                        }
                    }],
                ajax_url: '{% url "api-access:credentials-list" %}',
                columns: [
                    {data: "id"},
                    {data: "credentials_name"},
                    {data: "account_type"},
                    {data: "credential_type"},
                    {data: "date_created"}
                ],
                op_html: $('#actions').html()
            };
            credentials_table = cloudhelper.initServerSideDataTable(options);
            return credentials_table
        }

        $(document).ready(function () {
            initTable();
        }).on('click', '.btn_credentials_delete', function () {
            let $this = $(this);
            let cred_id = $this.data('uid');
            let name = $this.data('name');
            let the_url = "{% url 'api-access:credentials-detail' pk=DEFAULT_PK %}".replace('{{ DEFAULT_PK }}', cred_id);
            objectDelete($this, name, the_url)
        })
    </script>
{% endblock %}
