{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans action %}{% endblock %}

{% block bread_crumbs %}
    <li class="breadcrumb-item"><a href="{% url 'account:user-group-list' %}">{% trans "User group" %}</a></li>
    <li class="breadcrumb-item active">{% trans action %}</li>
{% endblock %}

{% block custom_head_css_js %}
    <link href="{% static 'assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">{% trans 'User group detail' %}</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-body">
{#                            <span class="label label-primary"><b>{{ user_group.name }}</b></span>#}
                            <table class="table">
                                <tbody>
                                <tr class="no-borders-tr">
                                    <td>{% trans 'Name' %}:</td>
                                    <td><b>{{ user_group.name }}</b></td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Create by' %}:</td>
                                    <td><b>{{ user_group.created_by }}</b></td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Date created' %}:</td>
                                    <td><b>{{ user_group.date_created }}</b></td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Comment' %}:</td>
                                    <td><b>{{ user_group.comment }}</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="card card-outline-info">
                    <div class="card-header text-white">
                        <i class="fa fa-info-circle"></i> {% trans 'User' %}
                    </div>
                    <div class="card-body">
                        <table class="table user_edit">
                            <tbody>
                            <form>
                                <tr>
                                    <td colspan="2" class="no-borders">
                                        <select data-placeholder="{% trans 'Add user' %}" id="slct_users" class="select2" style="width: 100%" multiple="" tabindex="4">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="no-borders">
                                        <button type="button" class="btn btn-primary btn-small"
                                                id="btn_add_user">{% trans 'Add' %}</button>
                                    </td>
                                </tr>
                            </form>

                            {% for user in user_group.users.all %}
                                <tr>
                                    <td><b class="bdg_user" data-uid={{ user.id }}>{{ user.name }}</b></td>
                                    <td>
                                        <button class="btn btn-danger pull-right btn-xs btn_remove_user" type="button">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script>
        cloudhelper.users_selected = {};

        function updateGroupMember(users) {
            let the_url = "{% url 'api-account:user-group-update-user' pk=user_group.id %}";
            let body = {
                users: Object.assign([], users)
            };
            let success = function (data) {
                // remove all the selected groups from select > option and rendered ul element;
                $('.select2-selection__rendered').empty();
                $('#slct_users').val('');
                $.map(cloudhelper.users_selected, function (user_name, index) {
                    $('#opt_' + index).remove();
                    // change tr html of users
                    $('.user_edit tbody').append(
                        '<tr>' +
                        '<td><b class="bdg_user" data-uid="' + index + '">' + user_name + '</b></td>' +
                        '<td><button class="btn btn-danger btn-xs pull-right btn_remove_user" type="button"><i class="fa fa-minus"></i></button></td>' +
                        '</tr>'
                    )
                });
                cloudhelper.users_selected = {};
            };
            requestApi({
                url: the_url,
                body: JSON.stringify(body),
                success: success
            });
        }

        $(document).ready(function () {
            $('.select2').select2()
                .on('select2:select', function (evt) {
                    let data = evt.params.data;
                    cloudhelper.users_selected[data.id] = data.text;
                }).on('select2:unselect', function (evt) {
                let data = evt.params.data;
                delete cloudhelper.users_selected[data.id]
            });
            usersSelect2Init('#slct_users')
        }).on('click', '.btn_remove_user', function () {
            let $this = $(this);
            let $tr = $this.closest('tr');
            let $badge = $tr.find('.bdg_user');
            let uid = $badge.data('uid');
            let user_name = $badge.html() || $badge.text();
            $('#slct_users').append(
                '<option value="' + uid + '" id="opt_' + uid + '">' + user_name + '</option>'
            );
            $tr.remove();
            let users = $('.bdg_user').map(function () {
                return $(this).data('uid');
            }).get();
            updateGroupMember(users)
        }).on('click', '#btn_add_user', function () {
            if (Object.keys(cloudhelper.users_selected).length === 0) {
                return false;
            }
            let users = $('.bdg_user').map(function () {
                return $(this).data('uid');
            }).get();
            $.map(cloudhelper.users_selected, function (value, index) {
                users.push(index);
                $('#opt_' + index).remove();
            });
            updateGroupMember(users)
        }).on('click', '.btn-delete-user-group', function () {
            let $this = $(this);
            let name = "{{ user_group.name }}";
            let uid = "{{ user_group.id }}";
            let the_url = '{% url "api-account:user-group-detail" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', uid);
            let redirect_url = "{% url 'account:user-group-list' %}";
            objectDelete($this, name, the_url, redirect_url);
        })
    </script>
{% endblock %}
