{% load i18n %}
{% load static %}
<div class="form-group is-valid" style="display: flex;">
{% spaceless %}
    {% if audio %}<a title="{% trans "Play CAPTCHA as audio file" %}" href="{{audio}}">{% endif %}<img src="{{image}}" alt="captcha" class="captcha" />{% if audio %}</a>{% endif %}
{% endspaceless %}
    <div class="col-sm-10">
        <label for="{{id}}_1"></label>
        <input autocomplete="off" id="{{id}}_1" class="form-control" name="{{name}}_1" placeholder="{% trans 'Captcha' %}" type="text" />
    </div>
</div>
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script>
    function refresh_captcha() {
        $.getJSON("{% url "captcha-refresh" %}",
                function (result) {
                    $('.captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['key'])
                })
    }
    $('.captcha').click(refresh_captcha)
</script>
